.top-bar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: rgba(68, 68, 68, 0.8);
    align-items: center;
    z-index: 2;
    position: fixed;
    width: 100%;
}

.top-bar .web-title {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: rgba(200,200,200,1);
    ;
}

.top-bar .navigator {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 10px;
}