
body {
  margin: 0;
  overflow: hidden; /* 스크롤 막기 */
}

.container {
  position: relative;
  height: 200vh; /* 여러 페이지 붙여놓은 효과를 위해 높은 높이값 설정 */
}

.backgroundImg {
  background-image: url('../../img/background-img.png');
  background-size: contain;
  background-position: center;
  position: fixed;
  background-repeat: no-repeat;
  top: -90%;
  left: 0;
  width: 100%;
  height: 400%;
  animation: scrollAnimation 15s infinite alternate;
}

.startButton {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(-500px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-1150px);
  }
  75% {
    transform: translateY(0px);
  }  
  100% {
    transform: translateY(-500px);
  }
}

.modalButton {
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 30px;
  color: rgba(200, 200, 200, 0.6);
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 15px;
  padding: 10px;
  transition: 0.25s;
}

.modalButton:hover {
  color: rgba(50, 50, 50, 0.6);
  background-color: rgba(200, 200, 200, 0.6);
  cursor: pointer;
}

.modalOpen {
  filter: blur(5px) brightness(30%);
  transition: 0.4s;
}